* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;;
    background-color: #5051dd;
}

.icono-rp {
    width: 350px;
    height: 80px;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    font-family: 'Nunito', bold;
    color: #f3f3f3;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
}


/* header */

header {
    width: 100%;
    height: 600px;
    background: #ffa64d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(27, 92%, 59%, 0.726), hsla(27, 92%, 53%, 0.747));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(27, 92%, 59%, 0.726), hsla(27, 92%, 53%, 0.747)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


nav {
    text-align: center; 
    padding: 30px 50px 0 0;
}

nav > a {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-decoration: none;
    color: #f3f3f3;
    margin-right: 10px;
    
}

nav > a:hover {
 text-decoration: underline;
 transition: all 1s;
}


header .texto-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.texto-header h1 {
    font-size: 50px;
    color: #f3f3f3;
    
}

.texto-header h2 {
    font-size: 30px;
    font-weight: 300;
    color: #f3f3f3;
   
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* Contenedor Explicativo */

.contenedor__exp {
    display: flex;
    justify-content: center;
}

.contenedor__exp .contenedor-textos-1 {
    width: 50%;
}

.contenido-textos h3 {
    color: #002337;
    margin-bottom: 15px;    
}

.contenido-textos-1 h3 span {

    background-color: #f28c39;
    color: #f3f3f3;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 10px;
}

.contenido-textos-1 p {
    margin-top: 10px;
    margin-left: 20px;
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #f3f3f3;
}

/* About Us */

.contenedor__AboutUs {
    display: flex;
    justify-content: space-evenly;
}

.contenedor__AboutUs .contenido-textos {
    width: 50%;
}

.contenido-textos h3 {
    color: #002337;
    margin-bottom: 15px;    
}

.contenido-textos h3 span {
    background-color: #f28c39;
    color: #f3f3f3;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
}

.contenido-textos p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
    color: #f3f3f3;
}


/* Galeria TODAVIA NO

.Nosotros {
    background-color: #7f7fe6;

}


.galeria-nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-nosotros {
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-nosotros >  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
*/

/* Clients */

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    margin-right: 10PX;
    padding: 10px;
    background-color: #7f7fe6;
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

.cards .card img {
    padding: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    display: block;

}

.cards .card .contenido-texto-card h4 {
    margin-bottom: 0;
    width: 200px;
    color:  #f28c39;
    
}

.cards .card > .contenido-texto-card {
    padding: 10px;
    align-items: center;
    margin-right: 5px;
    margin-top: -40px;
    width: 90%;
    color: #f3f3f3;
}

.cards .card > .contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
}


/* Service */

.about-service {
    background-color: #3333ff;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind {
    width: 30%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
    border-radius: 10px ;
    margin-top: 15px;
}

.servicio-ind h3 {
    margin: 10px;
    color: #f28c39;
}



.servicio-ind p {
    color: #f3f3f3;
    padding: 10px;
    background-color: #7f7fe6;
    border-radius: 10px ;
    font-weight: 300;
    text-align: center;
}

/* Footer */

footer {
    background-color: #f3903f;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;    
}

.contenedor-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    width: 30%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #f3f3f3;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: #002337;
    border-bottom: 3px solid #5051dd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #f3f3f3;
}


/* Responsive */

@media screen and (max-width:900px) {
    header {
        background-position: center;    
    }
    
    .icono-rp {
        width: 80%;
        height: 140px;
    }


    /* Contenedor Explicativo */

    .contenedor__exp {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Exp .contenedor-textos-1 {
        width: 90%;
    }

    /* Sobre Nosotros */

    .contenedor__AboutUs {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .AboutUs .contenido-textos{
        width: 90%;
    }

    /* Clientes */

    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card {
        width: 100%;
    }
    
    .contenido-texto-card{
        padding: 10px;
    }
    .cards .card:first-child {
        margin-bottom: 20px;
    } 
    .cards .card .contenido-texto-card h4 {
        margin-top: 40px;
    }

    /* Service */

    .servicio-cont {
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind {
        width: 100%;
        text-align: center;
    }

    .servicio-ind img {
        width: 90%;
    }

    .servicio-ind:nth-child(1) .servicio-ind:nth-child(2) {
        margin-bottom: 50px;
    }

    .servicio-ind p {
        margin: 10px;
    }

     /* Footer */

     .contenedor-footer {
        width: 90%;
        flex-direction: column;
        border: none;
    }

    .content-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    @media screen and (max-width:500px) {
        nav { 
            text-align: center;
            padding: 30px 0 0 0;
        }

        nav > a {
            margin-right: 5px;
        }

        .texto-header h1 {
            font-size: 20px;
        }
        .texto-header h2 {
            font-size: 18px;
        }

        .icono-rp {
            width: 100%;
            height: 80px;
        }

        /* About Us */

        .contenedor__AboutUs .contenido-textos {
            width: 90%;
        }

        /* Clients */
        .cards .card {
            height: 450px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align:left;
        }
        .cards .card img {
            width: 90px;
            height: 90px;
        }

        /* Footer */

        .contenedor-footer {
            width: 90%;
            flex-direction: column;
            border: none;
        }

        .content-foo {
            margin-bottom: 20px;
            text-align: center;
        }
    } 
}